* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
html {
  font-family: "Inter", sans-serif;
}

header .sub_nav {
  background-color: #140101 !important;
}
header .sub_nav .navbar-brand .brand_logo {
  height: 30px;
}
header .sub_nav .header_right a {
  text-decoration: none;
}
header .sub_nav .header_right .subnav_nav {
  padding-right: 25px;
}
header .sub_nav .header_right .subnav_direct {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}

#carousel {
  padding-top: 100px;
}
#carousel .carousel-item {
  position: relative;
}
#carousel .carousel_product {
  position: absolute;
  z-index: 10;
  top: 10%;
  left: 10%;
}
#carousel .carousel_product_detail {
  position: absolute;
  z-index: 10;
  top: 10%;
  left: 60%;
}
#carousel .carousel_product_detail h1 {
  font-size: 40px;
  font-weight: 300;
  color: #000;
}
#carousel .carousel_product_detail h3 {
  font-size: 30px;
  font-weight: 300;
  color: #000;
}
#carousel .carousel_product_detail a {
  padding: 10px 30px;
  margin-top: 30px;
  display: inline-block;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-color: #f8b653;
  border-radius: 0;
  background-color: #f8b653;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
}

#product_feature {
  background-color: #fffcfc;
}
#product_feature h1 {
  margin: 50px auto;
}
#product_feature .row {
  margin-top: 70px;
}
#product_feature .row:last-child {
  margin-bottom: 100px;
}
#product_feature .row .col-md-4 .card {
  height: 500px;
  margin-bottom: 30px;
}
#product_feature .row .col-md-4 .card .card-body {
  position: relative;
}
#product_feature .row .col-md-4 .card .card-body img {
  width: 70%;
  margin: 10% auto;
}
#product_feature .row .col-md-4 .card .card-body .card-text {
  font-size: 16px;
  font-weight: 300;
  color: #ccc;
  margin-bottom: 30px;
}
#product_feature .row .col-md-4 .card .card-body a {
  width: 50%;
  border-radius: 0%;
  background-color: #f8b653;
  position: absolute;
  bottom: 0;
  left: 0;
}
#product_feature .row .col-md-4 .card .card-body a:focus {
  box-shadow: none;
}
#product_feature .row .col-md-4 .card .card-body .product_price {
  background-color: #ccc;
  left: 50%;
  pointer-events: none;
}

.productDetail {
  background-color: #fff;
}
.productDetail__left {
  padding: 60px 80px 80px 10px;
}
.productDetail__background {
  padding: 110px 55px 90px 55px;
  background-color: #f8f8f8;
}
.productDetail__background img {
  width: 100%;
}
.productDetail .pInfo {
  padding: 70px 80px 0px 30px;
}
.productDetail .pInfo__about {
  margin-bottom: 10px;
}
.productDetail .pInfo__name {
  font-size: 30px;
  font-weight: 300;
  color: #000;
  margin-bottom: 9px;
}
.productDetail .pInfo__desc {
  font-size: 16px;
  font-weight: 400;
  color: #140101;
}
.productDetail .pInfo__avSize h4 {
  font-size: 24px;
  font-weight: 500;
  color: #1ed90e;
  margin-bottom: 30px;
}
.productDetail .pInfo__sizes {
  display: flex;
}
.productDetail .pInfo .btn-size {
  background-color: #ccc;
  height: 50px;
  width: 50px;
  margin-right: 20px;
  border: none;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  color: #1e1d1d;
}
.productDetail .pInfo__buy {
  margin-top: 18px;
}
.productDetail .pInfo__price {
  font-size: 30px;
  font-weight: 600;
  color: #fc0303;
  margin-bottom: 15px;
}
.productDetail .pInfo__quantity .btn-increase,
.productDetail .pInfo__quantity .btn-decrease {
  background: linear-gradient(180deg, #6181f3 0%, #7c97f5 99.48%);
  height: 50px;
  width: 50px;
  border: none;
  cursor: pointer;
  font-size: 30px;
  font-weight: 400;
  color: #fffcfc;
}
.productDetail .pInfo__quantity .number {
  font-size: 30px;
  font-weight: 400;
  color: #000;
  margin: 0 20px;
}
.productDetail .pInfo .btn-addCart {
  margin-top: 10px;
  padding: 18px 24px;
  font-size: 24px;
  font-weight: 500;
  color: #fff8f8;
  background: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #d017ee 89.71%);
}

.register {
  background-color: #fffcfc;
}
.register__title {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 50px;
  font-size: 40px;
  font-weight: 400;
  color: #000;
}
.register__form {
  padding-bottom: 40px;
}
.register .rForm__input {
  padding: 25px 0 25px 0;
  display: flex;
  align-items: end;
  flex-direction: column;
  position: relative;
}
.register .rForm__input input {
  padding-right: 40px;
  width: 90%;
  height: 50px;
  font-size: 30px;
  font-weight: 400;
  color: #000;
  border: none;
  outline: none;
  border-bottom: 5px solid #ae18e2;
}
.register .rForm__input::after {
  content: "(*)";
  position: absolute;
  right: 10px;
  top: 25px;
  font-size: 20px;
  font-weight: 400;
  color: #f50e0e;
}
.register .rForm__radio {
  padding-top: 30px;
  display: flex;
  justify-content: end;
  font-size: 30px;
  font-weight: 400;
  color: #000;
}
.register .rForm__radio .content {
  display: flex;
  width: 90%;
}
.register .rForm__radio .gender {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-left: 10px;
}
.register .rForm__radio input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 65px;
  height: 50px;
  border-radius: 50%;
  background-color: #d9d9d9;
  transition: 0.2s all;
}
.register .rForm__radio input:checked {
  background-color: #ae18e2;
  border: 12px solid #d9d9d9;
}
.register .rForm__error {
  font-size: 30px;
  font-weight: 400;
  color: #f50e0e;
  width: 90%;
}
.register .btn-submit {
  padding-top: 85px;
  padding-left: 60px;
}
.register .btn-submit button, .register .btn-submit #product_feature .row .col-md-4 .card .card-body .product_price, #product_feature .row .col-md-4 .card .card-body .register .btn-submit .product_price {
  padding: 10px 90px;
  background-color: #ae18e2;
  font-size: 30px;
  font-weight: 400;
  color: #fffcfc;
  border: none;
  cursor: pointer;
}

footer {
  font-family: "Montserrat", "Courier New", Courier, monospace;
}
footer .footer_top {
  position: relative;
  background-color: rgb(250, 250, 250);
}
footer .footer_top .foot_left {
  padding-left: 10%;
  padding-right: 0px;
}
footer .footer_top .foot_head {
  padding-top: 40px;
  padding-bottom: 10px;
}
footer .footer_top ul {
  list-style-type: none;
  font-size: 16px;
  font-weight: 300;
  color: #000;
}
footer .footer_top ul li {
  padding-bottom: 5px;
}
footer .footer_top ul li:hover {
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}
footer .footer_top .line_left, footer .footer_top .footer_bottom .foot_bottom_center .line_right, footer .footer_top .footer_bottom .footer_bottom_right .line_right, footer .footer_bottom .foot_bottom_center .footer_top .line_right, footer .footer_bottom .footer_bottom_right .footer_top .line_right, footer .footer_top .line_right {
  border-left: 2px solid rgb(226, 226, 226);
  height: 150px;
  position: absolute;
  left: -10%;
  top: 30px;
  z-index: 2;
}
footer .footer_top .line_right {
  left: 100%;
}
footer .footer_top .footer_right li:first-child {
  pointer-events: none;
}
footer .footer_top .footer_right li:last-child {
  font-size: 16px;
  font-weight: 300;
  color: #f8b653;
}
footer .footer_top .footer_right li:last-child:hover {
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  color: #f8b653;
}
footer .footer_top .footer_right a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  color: #f8b653;
}
footer .footer_bottom {
  position: relative;
  background-color: rgb(236, 236, 236);
}
footer .footer_bottom .foot_bottom_left {
  padding-left: 10%;
}
footer .footer_bottom .foot_head {
  padding-top: 40px;
  padding-bottom: 10px;
}
footer .footer_bottom ul {
  list-style-type: none;
  font-size: 16px;
  font-weight: 300;
  color: #000;
}
footer .footer_bottom ul li {
  padding-bottom: 5px;
}
footer .footer_bottom ul li:first-child {
  font-size: 16px;
  font-weight: 300;
  color: #000;
}
footer .footer_bottom ul li:last-child {
  font-size: 16px;
  font-weight: 300;
  color: #f8b653;
}
footer .footer_bottom ul li:last-child:hover {
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  color: #f8b653;
}
footer .footer_bottom .foot_bottom_center .line_left, footer .footer_bottom .footer_bottom_right .line_left, footer .footer_bottom .foot_bottom_center .line_right, footer .footer_bottom .footer_bottom_right .line_right {
  border-left: 2px solid rgb(226, 226, 226);
  height: 100px;
  position: absolute;
  left: -10%;
  top: 30px;
}
footer .footer_bottom .foot_bottom_center .line_right, footer .footer_bottom .footer_bottom_right .line_right {
  left: 100%;
}/*# sourceMappingURL=main.css.map */