* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
html {
  font-family: "Inter", sans-serif;
}

header .sub_nav {
  background-color: #140101 !important;
}
header .sub_nav .navbar-brand .brand_logo {
  height: 30px;
}
header .sub_nav .header_right a {
  text-decoration: none;
}
header .sub_nav .header_right .subnav_nav {
  padding-right: 25px;
}
header .sub_nav .header_right .subnav_direct {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}

#carousel {
  padding-top: 100px;
}
#carousel .carousel-item {
  position: relative;
}
#carousel .carousel_product {
  position: absolute;
  z-index: 10;
  top: 10%;
  left: 10%;
}
#carousel .carousel_product_detail {
  position: absolute;
  z-index: 10;
  top: 10%;
  left: 50%;
}
#carousel .carousel_product_detail h1 {
  font-size: 40px;
  font-weight: 300;
  color: #000;
}
#carousel .carousel_product_detail h3 {
  font-size: 30px;
  font-weight: 300;
  color: #000;
}
#carousel .carousel_product_detail button {
  padding: 10px 30px;
  margin-top: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: #f8b653;
  border-radius: 0;
  background-color: #f8b653;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
}

.register {
  background-color: #fffcfc;
}
.register__title {
  text-align: center;
  padding-top: 30px;
  margin-bottom: 50px;
  font-size: 40px;
  font-weight: 400;
  color: #000;
}
.register__form {
  padding-bottom: 40px;
}
.register .rForm__input {
  padding: 25px 0 25px 0;
  display: flex;
  justify-content: end;
  position: relative;
}
.register .rForm__input input {
  width: 90%;
  height: 50px;
  font-size: 30px;
  font-weight: 400;
  color: #000;
  border: none;
  outline: none;
  border-bottom: 5px solid #ae18e2;
}
.register .rForm__input::after {
  content: "(*)";
  position: absolute;
  right: 10px;
  top: 25px;
  font-size: 20px;
  font-weight: 400;
  color: #f50e0e;
}
.register .rForm__radio {
  padding-top: 30px;
  display: flex;
  justify-content: end;
  font-size: 30px;
  font-weight: 400;
  color: #000;
}
.register .rForm__radio .content {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.register .rForm__radio input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 65px;
  height: 50px;
  border-radius: 50%;
  background-color: #d9d9d9;
  transition: 0.2s all;
}
.register .rForm__radio input:checked {
  background-color: #ae18e2;
  border: 12px solid #d9d9d9;
}
.register .rForm__radio label:first-of-type {
  margin-right: 20px;
}
.register .btn-submit {
  padding-top: 85px;
  padding-left: 60px;
}
.register .btn-submit button {
  padding: 10px 90px;
  background-color: #ae18e2;
  font-size: 30px;
  font-weight: 400;
  color: #fffcfc;
  border: none;
  cursor: pointer;
}

footer {
  font-family: "Montserrat", "Courier New", Courier, monospace;
}
footer .footer_top {
  position: relative;
  background-color: rgb(250, 250, 250);
}
footer .footer_top .foot_left {
  padding-left: 10%;
}
footer .footer_top .foot_head {
  padding-top: 40px;
  padding-bottom: 10px;
}
footer .footer_top ul {
  list-style-type: none;
  font-size: 16px;
  font-weight: 300;
  color: #000;
}
footer .footer_top ul li {
  padding-bottom: 5px;
}
footer .footer_top ul li:hover {
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}
footer .footer_top .line_left, footer .footer_top .line_right {
  border-left: 2px solid rgb(226, 226, 226);
  height: 150px;
  position: absolute;
  left: 40%;
  top: 30px;
}
footer .footer_top .line_right {
  left: 57%;
}
footer .footer_top .footer_right li:first-child {
  pointer-events: none;
}
footer .footer_top .footer_right li:last-child {
  font-size: 16px;
  font-weight: 300;
  color: #f8b653;
}
footer .footer_top .footer_right li:last-child:hover {
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  color: #f8b653;
}
footer .footer_bottom {
  position: relative;
  background-color: rgb(236, 236, 236);
}
footer .footer_bottom .foot_bottom_left {
  padding-left: 10%;
}
footer .footer_bottom .foot_head {
  padding-top: 40px;
  padding-bottom: 10px;
}
footer .footer_bottom ul {
  list-style-type: none;
  font-size: 16px;
  font-weight: 300;
  color: #000;
}
footer .footer_bottom ul li {
  padding-bottom: 5px;
}
footer .footer_bottom ul li:first-child {
  font-size: 16px;
  font-weight: 300;
  color: #000;
}
footer .footer_bottom ul li:last-child {
  font-size: 16px;
  font-weight: 300;
  color: #f8b653;
}
footer .footer_bottom ul li:last-child:hover {
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  color: #f8b653;
}
footer .footer_bottom .line_left, footer .footer_bottom .line_right {
  border-left: 2px solid rgb(226, 226, 226);
  height: 100px;
  position: absolute;
  left: 40%;
  top: 30px;
}
footer .footer_bottom .line_right {
  left: 57%;
}/*# sourceMappingURL=main.css.map */