#product_feature{
    h1{
        margin: 50px auto;
    }
    .row{
        margin-top: 70px;
        &:last-child{
            margin-bottom: 100px;
        }
        .col-4{
            .card{
                height: 500px;
                margin-bottom: 30px;
                .card-body {
                        position: relative;
                
                        img {
                            width: 70%;
                            margin: 10% auto;
                        }
                
                        .card-text {
                            @include textStyle($fs-1, $fw-1, $gray-4);
                            margin-bottom: 30px;
                        }
                
                        button {
                            width: 50%;
                            border-radius: 0%;
                            background-color: $yellow-1;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                        }
                
                        .product_price {
                            @extend button;
                            background-color: $gray-4;
                            left: 50%;
                            pointer-events: none;
                        }
                    }
            }
            
        }
    }
}